

.field-validation-error {
    display: block;
    color: #ec3333;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: smaller;
}


.grid2 ul{
    font-size: smaller;
}


.copy-icon {
    background-color: none !important;
    border-color: none !important;
        cursor: pointer; /* Changes mouse cursor to a pointer when hovering over the icon */
        padding: 5px; /* Adds a bit more clickable area */
    }
    .copy-icon:hover {
    }


button {
    width: fit-content;
    display:inline-block;
 }    

nav[aria-label="breadcrumb"] {
    background-color: #181c25;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
nav[aria-label="breadcrumb"] > ul > li{
    font-size: 30px;
}


.hidden{
    display: none;
}


.vote-bar-container {
    background-color: #e2e8f0; /* bg-gray-200 */
    border-radius: 0.5rem;
    overflow: hidden;
    height: 2rem; /* h-8 */
    margin-bottom: 0.5rem; /* mb-2 */
}
.vote-bar {
    background-color: #4299e1; /* bg-blue-500 */
    height: 100%;
    border-radius: 0.5rem;
    transition: width 0.5s ease-in-out;
}

.votes-flex-container {
  display: flex; /* flex */
  justify-content: space-between !important; /* justify-between */
  align-items: center; /* items-center */
  align-content: center;
  margin-bottom: 0.25rem; /* mb-1 (1 unit in Tailwind's default spacing scale is 0.25rem or 4px) */
}


mark {
    padding: 0;
    background: linear-gradient(to right, rgb(215.4, 140.8, 210.2), rgb(184.5, 153, 237.75), rgb(156.6, 165.3, 232.6), rgb(142.75, 168.95, 240.05));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

article{
    border: .0625rem solid rgb(28, 33, 43.5);
    margin-top: 10px;
    margin-bottom: 10px;
}

article p{
    color:#7b8495;
}

footer{
    font-size: smaller;
}