{{ template "head" .  }}

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/admin/polls">Polls</a></li>
    <li>Copy .Poll.Title }}</li>
  </ul>
</nav>






<section class="py-5">


                    <form method="post" role="form">


                        <div >
                            <label for="name">Verify you want to make a COPY of poll</label>
                        </div>
                       <button role="button" class="outline" type="submit">Copy</button>
                       <a role="button" class="outline" href="/admin/polls">Back</a>

    
                    </form>



</section>







{{ template "footer" . }}