{{ template "head" . }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav aria-label="breadcrumb"  >
  <ul style="display: block;">
    <li><a href="/admin/polls">Polls</a></li>
    <li>Controlpanel {{ .Poll.Title }}</li>
  </ul>
</nav>
<small>
  <p id="currentStatusText"></p>
  </small>
  





<section class="py-5">
        <article id="questionSection" class="hidden">
            <header><h2 id="currentQuestionText"></h2></header>

            <div id="voteCounts" >
                <!-- Vote counts will be dynamically loaded here -->
            </div>
            <p>Total Votes: <span id="totalVotes">0</span></p>            
            
            <div id="currentQuestionOptions" >
                <!-- Options will be dynamically loaded here -->
            </div>
        </article>


        <article id="finalResults" class="hidden">
            <h2 >Final Poll Results:</h2>
            <div id="allPollResults">
                <!-- Final results for all questions will be loaded here -->
            </div>
        </article>




<article>

            <button id="startButton" onclick="sendAdminAction('start')">
                Start Poll
            </button>
            <button id="nextButton" onclick="sendAdminAction('next')">
                Next Question
            </button>
            <button id="showResultsButton" onclick="sendAdminAction('show_results')">
                Show Results
            </button>
            <button id="doneButton" onclick="sendAdminAction('done')">
                Done Poll
            </button>

</article>

</section>

<script src="/assets/js/controlpaneladmin.js"></script>




{{ template "footer" . }}