{{ template "head" . }}


<section>
    <hgroup style="text-align:center;">
        <h1>Live<mark>Polls</mark></h1>
        <h2></h2>
        <p>Let us get to know you</p>
    </hgroup>

    <div class="grid">

        <article class="grid2" >
            <h3>Participant?</h3>
            <p>
            Enter your Poll id here
            </p>
            <form action="/selectpoll" method="post">
                <input type="text" name="inviteID" required>
                <button type="submit" class="outline">Enter poll</button>
            </form>
        </article>        


        <article class="grid2">
            <h3>What is this?</h3>
            <p>
               Create and control live polls with LivePolls, a web application designed for real-time audience interaction. 
            </p>
            <p>
               Your participants can vote instantly and view results as they happen.
            </p>

        </article>        


    </div>
            <article >
            <h3>Use it <mark>for free!</mark></h3>
            <p>
                Sign up for a free account and start creating your own polls. You just need an Github account to use the app!
            </p>
            <p>
                You are allowed three polls with a maximum of 10 questions per poll.
            </p>
            <p>
                <a href="/loginv1" role="button">Login</a>
            </p>
        </article>

</section>




{{ template "footer" . }}